.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: red;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding: 0 2rem;
  }
  
  .logo {
    padding: 0;
    margin: 1rem 4rem;
  }
  
  ul {
    display: inline-flex;
    margin: 0 5rem;
    list-style-type: none;
  }
  
  ul li {
    padding: 1rem 4rem;
  }
  ul li a {
    text-decoration: none;
    color: white;
  }
  